@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #FFF;
    --darkest-green: #243332;
    --dark-green: #3e514f;
    --green: #69a380;
    --teal: #47a69f;

}

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.card-img {
    max-height: 250px;
    width: 100%;
}

.alt-font {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

h2.alt-font {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--green);
    justify-content: space-between;
    padding: 2%;
}

.col {
    display: flex;
    padding: 1rem;
    border: solid 1px var(--darkest-green);
    border-radius: 1rem;
}

.col.dark {
    display: flex;
    background-color: var(--dark-green);
    color: var(--white);
}

.col.teal {
    display: flex;
    background-color: var(--teal);
    color: var(--white);
}

.col.half {
    display: flex;
    width: 47%;
    flex-flow: column;
    align-content: center;
    text-align: center;
}

.col.one-third {
    width: calc(100% / 3 - 2%);
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.col.two-thirds {
    display: flex;
    width: 64.66%;
}

nav {
    display: flex;
    background-color: var(--darkest-green);
    color: white;
    justify-content: center;
    padding: 1rem;
    margin-right: 1rem;

}

h1 {
    text-align: center;
    background-color: var(--darkest-green);
    color: var(--white);
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 0;
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    align-items: flex-end;
    background-color: var(--darkest-green);
    justify-content: space-between;
    padding: 2%;
    color: #243332;
}

.button {
    background-color: #47a69f;
    color: #FFF;
    text-decoration: none;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
}