@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #FFF;
    --darkest-green: #243332;
    --dark-green: #3e514f;
    --green: #69a380;
    --teal: #47a69f;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    background-color: var(--green);
}

img {
    max-width: 100%;
    object-fit: cover;
}

.img-dif {
    align-content: center;
    margin-top: 3rem;
    width: 500px;
    margin-left: 36%;
}

.card-img {
    max-height: 184px;
    width: 100%;
}

.card-img-fit {
    width: 100%;
    object-fit: fill;
}

.card-img-adjust {
    width: 100%;
    object-fit: fill;
    height: 184.13px;
}

.alt-font {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

h2.alt-font {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--green);
    justify-content: space-between;
    padding: 2%;
}

.col {
    display: flex;
    padding: 1rem;
    border: solid 1px var(--darkest-green);
    border-radius: 1rem;
}

.col.dark {
    display: flex;
    background-color: var(--dark-green);
    color: var(--white);
}

.col.teal {
    display: flex;
    background-color: var(--teal);
    color: var(--white);
    align-content: center;
    text-align: center;
    width: 30%;
}

.col.margin {
    margin-left: 25%;
}

.col.half {
    display: flex;
    width: 47%;
    flex-flow: column;
    align-content: center;
    text-align: center;
    margin-top: 1rem;
}

.col.full {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-content: center;
    text-align: left;
}

.col.one-third {
    width: calc(100% / 3 - 2%);
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.col.two-thirds {
    display: flex;
    width: 64.66%;
    text-align: left;
    flex-flow: column;
}

nav {
    display: flex;
    background-color: var(--darkest-green);
    color: white;
    justify-content: center;
    padding: 1rem;
    margin-right: 1rem;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: var(--darkest-green);
    color: var(--white);
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 0;
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    align-items: flex-end;
    background-color: var(--darkest-green);
    justify-content: space-between;
    padding: 5%;
    color: #243332;
}

section.row:only-of-type {
    height: 73vh;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #47a69f;
    color: #FFF;
    text-decoration: none;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.5rem;
    text-align: center;
    height: 2.5rem;
    margin: 0.5rem;
    margin-top: 36px;
}

.overflow1 {
    overflow-y: scroll;
    height: 425px;
}

.overflow2 {
    overflow-y: scroll;
    height: 360px;
}

.overflow3 {
    overflow-y: scroll;
    height: 450px;
}